@using DojoSurvey.Models;
@model Survey;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <h2>Name : @Model.Name</h2>
    <h2>Dojo Location : @Model.Location</h2>
    <h2>Favorite Language: @Model.Language</h2>
    <h2>Comments : @Model.Comments</h2>
    
</body>
</html>