@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new Dish!</h1>
    <a href="/">Home</a>
    <form asp-controller = "Home" asp-action='Create' method="POST">

        <div class="form-group">
            <label asp-for="ChefsName"></label>
            <span asp-validation-for="ChefsName"></span>
            <input asp-for="ChefsName"/>
        </div>

        <div class="form-group">
            <label asp-for="DishName"></label>
            <span asp-validation-for="DishName"></span>
            <input asp-for="DishName"/>
        </div>

        <div class="form-group">
            <label asp-for="Calories"></label>
            <span asp-validation-for="Calories"></span>
            <input asp-for="Calories"/>
        </div>

        <div class="form-group">
        <label asp-for="Tastiness"></label>
        <span asp-validation-for= "Tastiness"></span>
            <select asp-for="Tastiness">
                <option asp-for="1">1</option>
                <option asp-for="2">2</option>
                <option asp-for="3">3</option>
                <option asp-for="4">4</option>
                <option asp-for="5">5</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <span asp-validation-for="Description"></span>
            <textarea asp-for="Description"></textarea>
        </div>

        <button>Submit</button>


    </form>
    
</body>
</html>