@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check out our roster of Chefs!</h1>
    <a asp-controller="Dish" asp-action="Dishes">Dishes!</a>
    <a asp-controller="Home" asp-action="AddChef">Add a Chef!</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of dishes</th>
        </tr>
        @{
            foreach(var chef in ViewBag.Chefs)
            {
                <tr>
                    <td>@chef.FullName()</td>
                    <td>@chef.Age()</td>
                    <td>@chef.SubmittedDishes.Count</td>
                </tr>
            }
        }


    </table>
</body>
</html>